﻿@model School.Models.NewsPost

@{
    ViewData["Title"] = "Добавить запись";
}
<script src="~/ckeditor/ckeditor.js"></script>
<div class="row">
    
    <div class="col-md-6">
        <h4>Добавление новостной записи</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea id="content1" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить запись" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
     CKEDITOR.replace('content1');    
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
