﻿@using School.Models
@model SchoolClass

@{ 
    ViewData["Title"] = "Сообщение классу";
}

<div class="row">
    <div class="col-md-4">
        <h4>Сообщение</h4>
        <hr />
        <form method="post" asp-action="SendEmail" asp-controller="SchoolClasses">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="id" type="hidden" value="@Model.Id" />
            <div class="form-group">
                <label for="receiver" class="control-label">
                    Получатель
                </label>
                <input id="receiver" type="text" class="form-control" disabled value="@Model.Name" />
            </div>
            <div class="form-group">
                <label for="subject" class="control-label">
                    Тема сообщения
                </label>
                <input id="subject" name="subject" type="text" required class="form-control" pattern="\S.{3,}"/>
            </div>
            <div class="form-group">
                <label for="msg" class="control-label">
                    Текст сообщения
                </label>
                <textarea id="msg" name="msg" required class="form-control" pattern="\S.{5,}"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="SchoolClasses" asp-route-id="@Model.Id">
        Профиль класса
    </a>
</div>