﻿@using School.Models
@model IEnumerable<NewsPost>

@{
    ViewData["Title"] = "Новости";
}

<div class="jumbotron">
    <h1>Сайт школы д.Зимница</h1>
    <p>Здесь вы можете прочитать новости школы ...</p>
    @if (User.Identity.IsAuthenticated)
    {
        <p>
            <a class="btn btn-primary"
               asp-action="Create"
               asp-controller="NewsPosts">
                Добавить
            </a>
        </p>
    }
</div>

<div class="container mt-3">
    @if (Model.Count() != 0)
    {
        @foreach (var post in Model)
        {
            <div class="media border p-3 mb-2">
                <div class="media-body">
                    <p class="lead font-weight-bold">
                        @post.Title
                    </p>
                    <hr />
                    <p class="font-italic">
                        @Html.Raw(post.Content)
                    </p>
                    <hr />
                    <span class="font-italic small">
                        @post.Author.LastName @(post.Author.FirstName[0]). @(post.Author.MiddleName[0]) |
                        @post.PostedDate.GetDateTimeFormats()[0]
                        @if (User.Identity.IsAuthenticated)
                        {
                            @:|
                            <a asp-action="Delete"
                               asp-controller="NewsPosts"
                               asp-route-id="@post.Id">
                                Удалить
                            </a>
                        }
                    </span>
                </div>
            </div>
        }
    }else
    {
        <div class="alert alert-success">
            <strong>Новостей пока нет!</strong>
        </div>
    }
</div>