﻿@model School.ViewModels.CreatePeopleModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SchoolPupil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.DisplayNameFor(o=> o.FirstName)
                @Html.TextBoxFor(o=> o.FirstName, new { @class="form-control" } )
                @Html.ValidationMessageFor(o => o.FirstName)
            </div>
          <!--  <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>

                <input asp-for="MiddleName" class="form-cosntrol" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
               <!-- <select asp-for="ClassId" class ="form-control" asp-items="ViewBag.ClassId"></select>-->
                @Html.DropDownListFor(o=> o.ClassId, Model.Classes)
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="SchoolClasses">
        Cписок классов
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
