﻿@model School.Models.SchoolPupil

@{
    ViewData["Title"] = "Профиль ученика";
}

<div class="container">
    <h3>@Model.LastName @Model.FirstName @Model.MiddleName</h3>
    <br>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Данные</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Оценки</a>
        </li>
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Табель</a>
            </li>
        }
    </ul>

    <div class="tab-content">
        <div id="home" class="container tab-pane active">
            <br>
            <h4>Контактные данные</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    Класс
                </dt>
                <dd class="col-sm-10">
                    @Model.Class.Name
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </dl>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-primary" asp-action="SendEmail" asp-controller="SchoolPupils" asp-route-id="@Model.Id">
                    Отправить сообщение
                </a>
            }
        </div>
        <div id="menu1" class="container tab-pane fade">
            <ul class="nav mt-3 mb-3">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="mt-2 mb-2" asp-action="Create" asp-controller="SchoolMarks" asp-route-id="@Model.Id">
                            Добавить отметку
                        </a>
                    </li>
                }
            </ul>
            @if (Model.Marks != null)
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Предмет
                            </th>
                            <th>
                                Дата
                            </th>
                            <th>
                                Оценка
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Marks.OrderByDescending(p => p.LessonDate))
                        {
                            <tr>
                                <td>
                                    @item.Subject
                                </td>
                                <td>
                                    @item.LessonDate.GetDateTimeFormats()[0]
                                </td>
                                <td>
                                    @item.Value
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-success">
                    <strong>Информация об оценках отсутствует!</strong>
                </div>
            }
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div id="menu2" class="container tab-pane fade">
                <form class="mt-4" asp-action="Pdf" asp-controller="SchoolPupils" asp-route-id="@Model.Id">
                    <div class="form-group">
                        <label class="control-label" for="begin">
                            Начало периода
                        </label>
                        <input id="begin" name="begin" type="date" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="end">
                            Конец периода
                        </label>
                        <input id="end" name="end" type="date" class="form-control" />
                    </div>
                    <button class="btn btn-primary">
                        Скачать табель
                    </button>
                </form>
            </div>
        }
        <div class="mt-3">
            <a asp-action="Details" asp-controller="SchoolClasses" asp-route-id="@Model.ClassId">
                Профиль класса
            </a>
        </div>
    </div>
</div>