﻿@using School.Models
@model IEnumerable<AvgMark>

@{ 
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <h5 class="text-center">
        <b>Табель успеваемости</b>
    </h5>
    <h5 class="text-center">
        учащегося @ViewData["ClassName"] класса<br />
        <b>@ViewData["FullName"]</b><br />
        за период с @ViewData["Period"]
        от @DateTime.Now.GetDateTimeFormats()[0]
    </h5>
    <h5 class="text-left">
        Количество предметов: @Model?.Count()
    </h5>
    <table class="table text-center">
        <thead>
            <tr>
                <th>
                    Предмет
                </th>
                <th>
                    Средний балл
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Subject
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>