﻿@model School.Models.HomeTask

@{
    ViewData["Title"] = "Добавить задание";
}


<div class="row">
    <div class="col-md-4">
        <h4>Добавить задание</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ClassId" value="@ViewData["ClassId"]" />
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <select asp-for="Subject" class="form-control">
                    <option selected>
                        Математика
                    </option>
                    <option>
                        Русский язык
                    </option>
                    <option>
                        Белорусский язык
                    </option>
                    <option>
                        Биология
                    </option>
                    <option>
                        Физика
                    </option>
                    <option>
                        География
                    </option>
                    <option>
                        Информатика
                    </option>
                    <option>
                        История
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="SchoolClasses" asp-route-id="@ViewData["ClassId"]">
        Профиль класса
    </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
